extends layout

block content
	.jumbotron.invert
		.container
			.row
				.overlay
					p dx : {{player.dx}} 
					p dy : {{player.dy}}
					p bullets : {{player.bullets.length}}
				canvas#astroids.col-md-12(tabindex="0")
				