doctype 5
html(ng-app="AstroidsModule")
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/bower_components/bootstrap-css/css/bootstrap.min.css")
		script(type="text/javascript", src="/bower_components/angular/angular.min.js")
		script(type="text/javascript", src="/bower_components/jquery/jquery.min.js")
		script(type="text/javascript", src="/bower_components/bootstrap-css/js/bootstrap.min.js")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(type="text/javascript", src="/bower_components/angular-socket-io/socket.js")
		script(type="text/javascript", src="/javascripts/astroids.js")

	body(ng-controller="AstroidsController", ng-keycontrol="control") 
		div.container()
			div.row
				nav(role="navigation").navbar.navbar-inverse
					.navbar-header
						button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="/" ).navbar-brand Asteroids
					.collapse.navbar-collapse.navbar-ex1-collapse
						ul.nav.navbar-nav 
							li.active: a(href="#") Game
							li: a(href="#") About
						form(role="search").navbar-form.navbar-left
							.form-group 
								input(type="text", placeholder="Username",ng-model="player.user").form-control
			div.row
				block content
				